<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="footer" th:fragment="footer">
    <p>&copy; 2025 Sistema de Agenda. Todos os direitos reservados.</p>
</footer>

<div th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script th:src="@{/js/contact.js}"></script>
</div>

</body>
</html>